<link href="/admin/css/bootstrap.min.css" rel="stylesheet">
<link href="/admin/css/style.css" rel="stylesheet">
<script src="http://cdn.ckeditor.com/4.6.1/standard/ckeditor.js"></script>

<nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">AdminStrap</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/bestyrelse/adminIndex">Dashboard</a></li>
            <li><a href="/bestyrelse/adminPages">Pages</a></li>
            <li><a href="/bestyrelse/adminPosts">News</a></li>
            <li><a href="/bestyrelse/users">Users</a></li>
            <li><a href="/nodemailer/nodemailer">Send Mail</a></li>
            <li><a href="/bestyrelse/bestyrelseRegister">Register</a></li>


          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Welcome, {{bestyrelse.name}}</a></li>
            <li><a href="/bestyrelse/adminLogin">Logout</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>