
<link rel="stylesheet" href="/editPro.css">
<header>
  <h1 class="logo">LaundryNest</h1>
  <input type="checkbox" id="nav-toggle" class="nav-toggle">
  <nav>
    <ul>
      <li><a class="active" href="/">Home</a></li>
      {{#unless user.id}}
      <li><a href="/users/login">Login</a></li>
      <li><a href="/users/register">Sign Up</a></li>
      {{/unless}}
      <li><a href="#">Blog</a></li>
      {{#if user._id}}
      <li><a href="/nodemailer/nodemailer">Send Mail</a></li>{{/if}}
      {{#if user._id}}
      <li><a href="/users/logout">Logout</a></li> {{/if}}
    </ul>
  </nav>
  <label for="nav-toggle" class="nav-toggle-label">
    <span></span>
  </label>
</header>