<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-light default-color lighten-4 fixed-top">

  <!-- Navbar brand -->
  <a class="navbar-brand" href="#">Laundromat</a>

  <!-- Collapse button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
    aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Collapsible content -->
  <div class="collapse navbar-collapse" id="basicExampleNav">

    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/news/add">add news</a>
      </li>
    </ul>
    <!-- Links -->
    <ul class="navbar-nav ml-auto">

      <li class="nav-item">
        <a class="nav-link" href="/users/login">Beboer Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/users/register">Beboer register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/bestyrelse/bestyrelseLogin">Bestyrelse Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/bestyrelse/bestyrelseRegister">Bestyrelse register</a>
      </li>
      {{#if user._id}}
      <li class="nav-item">
        <a class="nav-link" href="/nodemailer/nodemailer">send email</a>
      </li>
      {{/if}}
      <li class="nav-item">
        <a class="nav-link" href="/bestyrelse/logout"> BLogout</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/users/logout">ULogout</a>
      </li>
    </ul>
    
  </div>
  <!-- Collapsible content -->

</nav>