<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Laundry</title>

  <!-- Font Awesome -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- Bootstrap core CSS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
<!-- Material Design Bootstrap -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.14/css/mdb.min.css" rel="stylesheet">
</head>

<body>
    <header>
        <!-- Navbar -->
        {{>navbar}}
    </header>
    
    <div>
        <h2 style="background-color:lightblue">
            <div style="margin-top:5%; text-align:center; font-size:18px;">
                <p>Hi {{name}}<br></p>
                <p>Heres your personal profile page, here you'll be able to <br></p>
                <p>see your bill for the month, your latest resverations and change <br>
                your password</p>
            </div>
        </h2>
    </div>
    <div style="position:fixed; right:25%; align-content:center; text-align:left">
        <p>Change password</p>
        <form method="POST" action="/users/profile">
            <div id="change_Pass"><label>Old password:<input class="form-control" name="o_password" type="password"></label></div>
            <div id="change_pass"><label>New password:<input class="form-control" name="n_password" type="password"></label></div>
            <input type="submit" value="Submit">
        </form>
    </div>
    <section style="text-align:center; position:fixed; left:0px">
    <div>
        <p>Here is the latest reservations</p>
        <table style="box-sizing:border-box">
            <thead style="background-color:lightblue; border:1px solid black">
                <tr>
                    <th style="display:table-cell; border:1px solid black">
                        Reservation number
                    </th>
                    <th style="display:table-cell; border:1px solid black">
                        Start date
                    </th>
                    <th style="display:table-cell; border:1px solid black">
                        Ending date
                    </th>
                    <th style="display:table-cell; border:1px solid black">
                        Machines reserved
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>

                </tr>
            </tbody>
        </table>
    </div>
    </section>
</body>