<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Calender</title>

  <!-- Font Awesome -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- Bootstrap core CSS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
<!-- Material Design Bootstrap -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.14/css/mdb.min.css" rel="stylesheet">

{{> navbar}}

</head>
<div>
<div class="top" style="text-align: center">
    <div class="middle">
        <div>
        {{if user}}
        <p>Welcome {{username}}</p>
        {{else}}
        <p>Welcome</p>
        </div>
        <p>Laundry service at your personal use</p>
    </div>
    <div class="right" style="float: right">
        <picture>
            
            <img src="https://thumbs.dreamstime.com/z/grim-reaper-empty-billboard-pointing-finger-blank-panel-44836233.jpg" style="width:225px">
        </picture>
    </div>
    <div class="left" style="float: left">
        <p>Here is your daily news regarding our service</p>
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
    </div>
</div>
</div>
<div style="">
    <div style="float: left">
    <p style="text-align: center">Here is your monthly bill</p>
    </div>
    <div style="float: right"><p>Latest reservation</p>
        <div>
            <li style="text-align: center">
                @Item1
            </li>
        </div>
    </div>
</div>