
    <!-- Font Icon -->
    <link rel="stylesheet" href="fonts/material-icon/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">


    <!-- Main css -->
    <link rel="stylesheet" href="/assets2/css/style.css">
    <link rel="stylesheet" href="/assets2/fonts/material-icon/css/material-design-iconic-font.css">

    <header>
        <!--Navbar-->
        {{> mainNav}}
        <!--/.Navbar-->

    </header>
    <br>
    <br>
    <div class="main">       

        <!-- Sing in  Form -->
        <section class="sign-in">
            <div class="container">
                <div class="signin-content">
                    <div class="signin-image">
                        <figure><img src="/assets2/images/signin-image.jpg" alt="sing up image"></figure>
                        <a href="/users/register" class="signup-image-link">Create an account</a>
                        <a href="/bestyrelse/bestyrelseLogin" class="signup-image-link">Admin Login</a>

                    </div>

                        
                    <div class="signin-form">
                        <h2 class="form-title">Sign in</h2>
                        
                        <form method="POST" action="/users/login" >
                            <div class="form-group">
                                <label for="your_name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input class="form-control" type="text" name="username"  placeholder="Username"/>
                            </div>
                            <div class="form-group">
                                <label for="your_pass"><i class="zmdi zmdi-lock"></i></label>
                                <input class="form-control" type="password" name="password"  placeholder="Password"/>
                            </div>
                            <div class="form-group">
                                <input type="checkbox" name="remember-me" id="remember-me" class="agree-term" />
                                <label for="remember-me" class="label-agree-term"><span><span></span></span>Remember me</label>
                            </div>
                            <div class="form-group form-button">
                                <input type="submit" name="signin" id="signin" class="form-submit" value="Log in"/>
                            </div>
                        </form>
                        <div class="social-login">
                            <span class="social-label">Or login with</span>
                            <ul class="socials">
                                <li><a href="#"><i class="display-flex-center zmdi zmdi-facebook"></i></a></li>
                                <li><a href="#"><i class="display-flex-center zmdi zmdi-twitter"></i></a></li>
                                <li><a href="#"><i class="display-flex-center zmdi zmdi-google"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>

    <!-- JS -->
    <script src="/assets2/vendor/jquery/jquery.min.js"></script>
    <script src="/assets2/js/main.js"></script>
