<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Laundry</title>


    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.14/css/mdb.min.css" rel="stylesheet">
</head>
<style>
    @import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.3/css/mdb.min.css);

.hm-gradient {
    background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
}
.darken-grey-text {
    color: #2E2E2E;
}
.danger-text {
    color: #ff3547; }
.default-text {
    color: #2BBBAD; 
}
.info-text {
    color: #33b5e5; 
}
    .container2{
  margin: auto;
  width: 550px;
  height: 600px;
}
.field-icon {
  float: right;
  margin-left: -25px;
  margin-top: -25px;
  position: relative;
  z-index: 2;
}
</style>

<body>
    <header>
        <!--Navbar-->
        {{> mainNav}}
        <!--/.Navbar-->

    </header>

    <div class="container mt-4">

        <div class="text-center darken-grey-text mb-4">

            <a class="btn btn-warning btn-md" href="/bestyrelse/bestyrelseLogin">Admin Login<i class="fa fa-user pl-2"></i></a>
        </div>

        <div class="container2">
            <div class="card">

                <h5 class="card-header info-color white-text text-center py-4">
                    <strong>Login</strong>
                </h5>

                <!--Card content-->
                <div class="card-body px-lg-5 pt-0">

                    <!-- Form -->
                    <form method="POST" action="/users/login">

                        <div id="form-group"><label>Username:</label>
                            <input class="form-control" name="username" type="text" />
                        </div>
                        <div id="form-group"><label>Password:</label>
                            <input class="form-control" name="password" type="password" />
                        </div>
                        <br /><input class="btn btn-primary" type="submit" value="Submit" />
                    </form>
                    </form>
                    <!-- Form -->

                </div>

            </div>
        </div>

    </div>

    <!--MDB Forms-->
   <!-- <main>
        <div class="container mt-4">
            <div class="row">
                <div class="col-md-6 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="text-center default-text py-3"><i class="fa fa-lock"></i> Login:</h3>

                            <div class="md-form">
                                <i class="fa fa-user prefix grey-text"></i>
                                <input type="text" id="defaultForm-email" class="form-control">
                                <label for="defaultForm-email">Username</label>
                            </div>
                            <div class="md-form">
                                <i class="fa fa-lock prefix grey-text"></i>
                                <input type="password" id="defaultForm-pass" class="form-control">
                                <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                                <label for="defaultForm-pass">Your password</label>
                            </div>
                            <div class="text-center">
                                <button class="btn btn-default waves-effect waves-light">Login</button>
                            </div>

                            <div class="modal-footer">
                                <div class="options">
                                    <p>Not a member? <a href="/users/logintest">Sign Up</a></p>
                                    <p>Forgot <a href="#">Password?</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           
        </div>
    </main>-->
            <!--MDB Forms-->






    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.1/js/mdb.min.js"></script>


</body>
</body>

</html>