<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Reservering</title>

  <!-- Font Awesome -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- Bootstrap core CSS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
<!-- Material Design Bootstrap -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.14/css/mdb.min.css" rel="stylesheet">
</head>

<body>
<div style="align-content:center; padding-left: 40%"><button style="background: none; border: none">
    <img src="https://images.cdn2.stockunlimited.net/clipart/calendar-button_1604620.jpg" alt="" height="50%" width="25%" srcset="">
</button></div>
<form action="/" method="POST">
<div style="align-content:center; padding-left: 33%; font-size: 16px">
        <div style="display:inline-block">
        <p>VASK 1</p>
        
        <li style="background-color:lightblue; text-align: center; color: black">
            
           <input type="checkbox" name="section" value="0"><label>9:30 - 12:30</label></input>
        </li>
        <li>
            <input type="checkbox" name="section" value="1"><label>12:30 - 15:30</label>
        </li>
        <li>
            <input type="checkbox" name="section" value="2"><label>15:30 - 18:30</label>
        </li>
        <li>
           <input type="checkbox" name="section" value="3"><label>18:30 - 21:30</label>
        </li>
        </div>
        <div style="display:inline-block">
                <p>VASK 2</p>
                <li style="background-color:lightblue; text-align: center; color: black">
                   <input type="checkbox" name="section" value="4"><label>9:30 - 12:30</label>
                </li>
                <li>
                   <input type="checkbox" name="section" value="5"><label>12:30 - 15:30</label>
                </li>
                <li>
                   <input type="checkbox" name="section" value="6" ><label>15:30 - 18:30</label>
                </li>
                <li>
                   <input type="checkbox" name="section" value="7"><label>18:30 - 21:30</label>
                </li>
                </div>
                <div style="display:inline-block; align-content: center">
                        <p>TØRRE 1</p>
                        <li style="background-color:lightblue; text-align: center; color: black">
                           <input type="checkbox" name="section" value="8"><label>9:30 - 12:30</label>
                        </li>
                        <li>
                          <input type="checkbox" name="section" value="9"><label>12:30 - 15:30</label>
                        </li>
                        <li>
                           <input type="checkbox" name="section" value="10"><label>15:30 - 18:30</label>
                        </li>
                        <li>
                       <input type="checkbox" name="section" value="11"><label>18:30 - 21:30</label>
                      </li>
                    </div>
                    <div style="display:inline-block">
                            <p>Tørre 2</p>
                            <li style="background-color:lightblue; text-align: center; color: black">
                               <input type="checkbox" name="section" value="12"><label>9:30 - 12:30</label>
                            </li>
                            <li>
                               <input type="checkbox" name="section" value="13"><label>12:30 - 15:30</label>
                            </li>
                            <li>
                               <input type="checkbox" name="section" value="14"><label>15:30 - 18:30</label>
                            </li>
                            <li>
                               <input type="checkbox" name="section" value="15"><label>18:30 - 21:30</label>
                            </li>
                            </div>
                            <div style="padding-left:15%">
                                <button>Confirm</button>
                                </form>
                                <button>Cancel</button>
                            </div>
                        </div>
</form>
</body>